<%= form_with(model: pledger) do |form| %>
  
  <hr class="bg-light">
  <div class="text-success">
    <h5>Your Generous Contribution is welcome</h5>
    <h6><u>Mobile Money</u></h6>
    <p>MTN: +256783708676 -Joel Kanye</p>
    <p>Airtel : +256758326378 -Slivia Kabakanye</p>
    <h6><u>Direct Bank Transfer(DFCU)</u></h6>
    <p>Account No: 01191154072175</p>
    <p>Account Name: Kanye Joel</p>
    <p>Branch: Entebbe Road </p>
    <p>Swift code: DFCUUGKA</p>
  </div>
  <hr class="bg-light">
  <h4 class="text-light">For Pledges use the form below</h4>
  <p class="alert text-success"><%= notice %></p>
  <% if pledger.errors.any? %>
    <div id="error_explanation">
      <ul class="text-danger">
        <% pledger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <div class="d-flex flex-column">
  <div class="col form-group mb-3">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control'%>
  </div>

  <div class="col form-group mb-3">
    <%= form.text_field :phonenumber, placeholder: 'Phone contact', class: 'form-control' %>
  </div>

  <div class="col form-group mb-3">
    <%= form.number_field :amount, placeholder: 'Amount', class: 'form-control' %>
  </div>

  <div class="co form-group mb-3">
    <p class="text-light">Expected Date</p>
    <%= form.date_field :expecteddate ,class:'form-control', placeholder:'Cell Number', :required => true%>
  </div>

  <div class="actions co">
    <%= form.submit 'Add Pledge', class: 'btn btn-primary mb-5' %>
  </div>
  </div>
<% end %>
