<%= form_with(model: pledger) do |form| %>
  <% if pledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledger.errors.count, "error") %> prohibited this pledger from being saved:</h2>

      <ul>
        <% pledger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <div class="form-row align-items-center">
  <div class="field col-sm-3 my-1">
    <%= form.text_field :name, placeholder: 'Name'%>
  </div>

  <div class="field col-sm-3 my-1">
    <%= form.text_field :phonenumber, placeholder: 'Phonecontact' %>
  </div>

  <div class="field col-sm-3 my-1">
    <%= form.number_field :amount, placeholder: 'Amount' %>
  </div>

  <div class="field col-sm-">
    <%= form.label :expecteddate %>
    <%= form.date_select :expecteddate %>
  </div>

  <div class="actions col-sm-3 my-1">
    <%= form.submit 'Pledge' %>
  </div>
  </div>
<% end %>
