<%= form_with(model: pledger) do |form| %>
  <% if pledger.errors.any? %>
    <div id="error_explanation">
      <ul class="text-danger">
        <% pledger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h4 class="text-light">Please Add your Pledge details here</h4>
  <div>
  <div class="d-flex flex-column">
  <div class="col form-group mb-3">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control'%>
  </div>

  <div class="col form-group mb-3">
    <%= form.text_field :phonenumber, placeholder: 'Phone contact', class: 'form-control' %>
  </div>

  <div class="col form-group mb-3">
    <%= form.number_field :amount, placeholder: 'Amount', class: 'form-control' %>
  </div>

  <div class="co form-group mb-3">
    <p class="text-light">Expected Date</p>
    <%= form.date_field :expecteddate ,class:'form-control', placeholder:'Cell Number', :required => true%>
  </div>

  <div class="actions co">
    <%= form.submit 'Add Pledge', class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
